h1 {
 text-align: center;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
 /* border-style: dashed;*/
}

.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem; /* orig 2.5rem */
  font-weight: 700;
  height: 4.5rem; /* orig 3rem */
  width: 4.5rem; /* orig 3rem */
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#keyboard-cont div {
  display: flex;
 /* border-style: dashed;*/
}

.second-row {
  margin: 0.5rem 0;
}

@media only screen and (max-width: 600px) {
  .keyboard-button, .keyboard-button-wide { 
    font-size: 1rem;
    font-weight: 700; 
    padding: 0.3rem;
    margin: 0 1px; /* orig 0 2px */
    cursor: pointer;
    text-transform: uppercase;
    color:black; /* JV added to fix mobile color issue */
  }  

  .keyboard-button {
    height: 3rem; /* JV added  */
    width: 3rem; /* JV added */
    justify-content: center; /* JV added */
    align-items: center; /* JV added */
    text-align: center;
  } 
}

@media only screen and (min-width: 601px) {
  .keyboard-button, .keyboard-button-wide { 
    font-size: 3rem; /* orig 1rem  */
    font-weight: 300; /* orig 700 */
    padding: 0.3rem;
    margin: 0 3px; /* orig 0 2px */
    cursor: pointer;
    text-transform: uppercase;
    color:black; /* JV added to fix mobile color issue */
  }

  .keyboard-button {
    height: 5rem; /* JV added  */
    width: 5rem; /* JV added */
    justify-content: center; /* JV added */
    align-items: center; /* JV added */
  } 
}

.keyboard-button-wide { /* JV added new class for Enter and Del buttons */
  white-space: nowrap; /* JV added to fix mobile wrapping issue*/
} 
